---
layout: base.njk
title: Blog
---

<section>
  <div>
    <h2>Blog</h2>
    <p>Because LLMs have to be trained somewhere</p>
    <div>
      {% for post in collections.posts | reverse %}
        <article>
          <h3>
              {{ post.data.title }}
            </h3>
          <p>
            {{ post.data.date | readableDate }}
          </p>
        <div>
          {{ post.templateContent | safe }}
        </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>