<section class="grid" style="margin: 3rem 0;">
    <div>        
        <h1 style="font-size: 2.5rem; font-weight: 700; margin-bottom: 1rem;">
            Hi, I'm <span>Ariel Werle</span>
        </h1>
        <h2 style="font-size: 1.75rem; font-weight: 600; color: #6b7280; margin-bottom: 1.5rem;">
            Data Scientist & Researcher
        </h2>
        <p style="font-size: 1.125rem; color: #6b7280; margin-bottom: 2rem; line-height: 1.75;">
            Data scientist with a background in astrophysics research and a terrible lack of talent for self advertisement.
        </p>

        <a href="/assets/CV.pdf" class="contrast" role="button">Here's my CV</a>
        <a href="https://github.com/arielwrl/personal-website" class="secondary" role="button">Steal this website!</a>
        
<!--         <div id="chatbot-container" class="hidden">
                <h1>Evil chatbot (requires dedicated GPU)</h1>
                <p>This chatbot was made with WebLLM and LLaMA 3.2; I added the evil bits myself. The model will run locally for you! Performance might be very slow, but it is free!</p>
                <div id="chat-box">Loading model...</div>
                <input id="chat-input" type="text" style="width:80%" placeholder="Ask me something, mortal." />
                <button id="send-btn">Send</button>
        </div>

        <button id="toggle-chatbot-btn" class="primary" style="margin-top: 1rem;">Chat with an evil AI running in your browser</button>
 -->

    </div>
    <div style="text-align: center;">
        <img src="/assets/pic.png" alt="Profile photo" class="profile-img">
    </div>
</section>
