<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Ariel Werle | Data Scientist</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> {# For icons #}
    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>

<!-- Navigation bar -->
<header class="container" style="position:sticky;top:0;z-index:1000;background: var(--pico-background-color);">
    <nav>
        <ul>
            <li><strong><a href="/">Dr. Ariel Werle</a></strong></li>
        </ul>
        <ul>
            <li><a href="/" class="secondary">Home</a></li>
            <li><a href="/#cv" class="secondary">My Story</a></li>
            <li><a href="/#publications" class="secondary">Publications</a></li>
            {# <li><a href="/blog" class="secondary">Blog</a></li> #}
        </ul>
    </nav>
</header>

<!-- Main Content -->
<main class="container">
{{ content | safe }}
</main>

</body>
</html>
