<section id="cv" class="container">
    <h2 style="text-align: center;">My story</h2>
    <br>
    <div class="grid">
        <div>
            <h3>Academic Background</h3>
            <div>
                <h4><i class="fas fa-graduation-cap"></i> PhD. in Astrophysics</h4>
                <p>Universidade Federal de Santa Catarina</p>
                <p>2015 - 2019</p>
                <p>
                    Thesis: 
                    <a href="https://repositorio.ufsc.br/bitstream/handle/123456789/211673/PFSC0363-T.pdf?sequence=-1&isAllowed=y">
                        Analysis of SDSS Spectra and GALEX Photometry with STARLIGHT: Stellar Populations and Dust in Local Galaxies
                    </a>
                </p>
            </div>

            <div>
                <h4><i class="fas fa-university"></i> MSc. in Astrophysics</h4>
                <p>Universidade Federal de Santa Catarina</p>
                <p>2012 - 2014</p>
                <p>Thesis: Post-starburst Galaxies in the Local Universe</p>
            </div>

            <div>
                <h4><i class="fas fa-book"></i> Lic. in Physics</h4>
                <p>Universidade Federal de Santa Catarina</p>
                <p>2007 - 2011</p>
            </div>
        </div>

        <!-- Toolbox -->
        <div class="toolbox">
            <h3>My Toolbox</h3>

            <h4>Programming And Scripting</h4>
            <div class="skills">
                <span class="skill-pill">Python</span>
                <span class="skill-pill">R</span>
                <span class="skill-pill">SQL</span>
                <span class="skill-pill">JavaScript</span>
                <span class="skill-pill">HTML</span>
                <span class="skill-pill">LaTeX</span>
            </div>

            <h4>Machine Learning</h4>
            <div class="skills">
                <span class="skill-pill">Scikit-learn</span>
                <span class="skill-pill">TensorFlow</span>
                <span class="skill-pill">XGBoost</span>
                <span class="skill-pill">Keras</span>
            </div>

            <h4>Data Analysis</h4>
            <div class="skills">
                <span class="skill-pill">Pandas</span>
                <span class="skill-pill">NumPy</span>
                <span class="skill-pill">Spark</span>
            </div>

            <h4>Visualization</h4>
            <div class="skills">
                <span class="skill-pill">Matplotlib</span>
                <span class="skill-pill">Seaborn</span>
                <span class="skill-pill">Plotly</span>
                <span class="skill-pill">Superset</span>
            </div>
        </div>
    </div>
</section>
