<footer>
    <div class="grid">
        <div>
            <a href="#">Dr. Ariel Werle</a>
            <p>Data Scientist & Researcher</p>
        </div>
        
        <div>
            <a href="https://www.linkedin.com/in/ariel-werle" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/arielwrl" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://scholar.google.com/citations?user=IXxSGHoAAAAJ&hl=en&oi=ao" aria-label="Google Scholar">
                <i class="fas fa-graduation-cap"></i>
            </a>

            <p>&copy; 2025 Ariel Werle. Built with eleventy, nunjunks, pico css, and love.</p>
        </div>
    </div>
</footer>
