---
layout: base.njk
title: {{ title }}
---

<section class="py-20 px-6 bg-gray-50">
  <div class="max-w-3xl mx-auto">
    <h2 class="text-3xl font-bold text-center mb-2">{{ title }}</h2>
    {# <p class="text-center text-gray-500 mb-10">
      {{ date | date("LLLL yyyy") }}
    </p> #}
    <div class="bg-white p-8 rounded-xl shadow-md">
      <article class="text-lg text-gray-700 leading-relaxed prose prose-lg max-w-none">
        {{ content | safe }}
      </article>
    </div>
  </div>
</section>