<section id="publications">
    <h2>Selected Publications</h2>
    <article>        

        <div>
            <br>
            <h3>Tracing ongoing quenching in jellyfish galaxies at z ∼ 0.35</h3>
            <p>Astronomy & Astrophysics, 2025</p>
            <p><span>Werle A.</span>, Poggianti B., Moretti, A., et al.</p>
            <a href="https://www.aanda.org/articles/aa/pdf/2025/07/aa53646-24.pdf" role="button" class="secondary">
            <i class="fas fa-file-pdf"></i> PDF
            </a>
            <a href="https://ui.adsabs.harvard.edu/abs/2025A%26A...699A.188W/exportcitation" role="button" class="secondary">
            <i class="fas fa-quote-right"></i> Cite
            </a>
        </div>

        <div>
            <br>
            <h3>The history of star-forming regions in the tails of six GASP jellyfish galaxies observed with the Hubble Space Telescope</h3>
            <p>Astronomy & Astrophysics, 2024</p>
            <p><span>Werle A.</span>, Giunchi E., Poggianti B., et al.</p>
            <a href="https://www.aanda.org/articles/aa/pdf/2024/02/aa48055-23.pdf" role="button" class="secondary">
            <i class="fas fa-file-pdf"></i> PDF
            </a>
            <a href="https://ui.adsabs.harvard.edu/abs/2024A%26A...682A.162W/exportcitation" role="button" class="secondary">
            <i class="fas fa-quote-right"></i> Cite
            </a>
        </div>

        <div>
            <br>
            <h3>Post-starburst Galaxies in the Centers of Intermediate-redshift Clusters</h3>
            <p>The Astrophysical Journal, 2022</p>
            <p><span>Werle A.</span>, Poggianti B., Moretti A., et al.</p>
            <a href="https://iopscience.iop.org/article/10.3847/1538-4357/ac5f06/pdf" role="button" class="secondary">
            <i class="fas fa-file-pdf"></i> PDF
            </a>
            <a href="https://ui.adsabs.harvard.edu/abs/2022ApJ...930...43W/exportcitation" role="button" class="secondary">
            <i class="fas fa-quote-right"></i> Cite
            </a>
        </div>

        <div>
            <br>
            <h3>Clues on the history of early-type galaxies from SDSS spectra and GALEX photometry</h3>
            <p>Monthly Notices of the Royal Astronomical Society, 2020</p>
            <p><span>Werle, A.</span>, Cid Fernandes, R., Vale Asari N., et al.</p>
            <a href="https://academic.oup.com/mnras/article-pdf/497/3/3251/33648571/staa2217.pdf" role="button" class="secondary">
            <i class="fas fa-file-pdf"></i> PDF
            </a>
            <a href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.497.3251W/exportcitation" role="button" class="secondary">
            <i class="fas fa-quote-right"></i> Cite
            </a>
        </div>

        <div>
            <br>
            <h3>Simultaneous analysis of SDSS spectra and GALEX photometry with STARLIGHT: method and early results</h3>
            <p>Monthly Notices of the Royal Astronomical Society, 2019</p>
            <p><span>Werle A.</span>, Cid Fernandes, R., Vale Asari, N., et al.</p>
            <a href="https://academic.oup.com/mnras/article-pdf/483/2/2382/27203693/sty3264.pdf" role="button" class="secondary">
            <i class="fas fa-file-pdf"></i> PDF
            </a>
            <a href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.483.2382W/exportcitation" role="button" class="secondary">
            <i class="fas fa-quote-right"></i> Cite
            </a>
        </div>
        
        <div>   
            <br>
            <a href="https://ui.adsabs.harvard.edu/search/fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq_database=(database%3Aastronomy%20OR%20database%3Aphysics)&q=%20author%3A%22werle%2C%20ariel%22&sort=date%20desc%2C%20bibcode%20desc&p_=0" role="button" class="primary">
                See full list in NASA ADS!
            </a>
        </div>

    </article>
</section>

